/__pycache__
.pyc
*.pyc
*.pyo
.pytest_cache/
.cache/
*.pyc

*/*/*/__pycache__/

*/*/__pycache__/

*/__pycache__/

.env
env/
env*



.DS_Store
.flaskenv

venv/
.venv/
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

*.log

*.pot
